:root {
  /* Backgrounds (Yue light) */
  --bg_h: #fbf1c7;
  --bg: #fbf1c7;
  --bg_s: #ebdbb2;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;

  /* Foregrounds (Yue light) */
  --fg: #3c3836;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  /* Accent (ONLY orange, Yue-style) */
  --orange: #af3a03;
  --orange-dim: #d65d0e;

  /* Neutralize other accents */
  --red: #af3a03;
  --green: #af3a03;
  --yellow: #af3a03;
  --blue: #af3a03;
  --purple: #af3a03;
  --aqua: #af3a03;
  --gray: #7c6f64;

  --red-dim: #d65d0e;
  --green-dim: #d65d0e;
  --yellow-dim: #d65d0e;
  --blue-dim: #d65d0e;
  --purple-dim: #d65d0e;
  --aqua-dim: #d65d0e;
  --gray-dim: #7c6f64;
}


.darkmode {
  /* Backgrounds */
  --bg_h: #282828;
  --bg: #282828;
  --bg_s: #3c3836;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  /* Foregrounds */
  --fg: #ebdbb2;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  /* Accent */
  --orange: #fe8019;
  --orange-dim: #d65d0e;

  /* Neutralize others */
  --red: #fe8019;
  --green: #fe8019;
  --yellow: #fe8019;
  --blue: #fe8019;
  --purple: #fe8019;
  --aqua: #fe8019;
  --gray: #a89984;

  --red-dim: #d65d0e;
  --green-dim: #d65d0e;
  --yellow-dim: #d65d0e;
  --blue-dim: #d65d0e;
  --purple-dim: #d65d0e;
  --aqua-dim: #d65d0e;
  --gray-dim: #a89984;
}

