@use "sass:math";

@use "gruvbox.scss";

// https://grtcalculator.com/math/

$phi: math.div(1 + math.sqrt(5), 2);
$f: math.div(2.4rem, math.pow($phi, 2));

$radius: 0.25rem;
$margin: 1rem;
$max-width: 800px;
$padding: calc((100vw - #{$max-width}) / 2);
$border: 2px;
$mobile-breakpoint: 768px;
