@import "../vars";

#main {
  & > h1 {
    text-align: center;
  }

  .post-heading {
    text-align: left;
h1 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 0.4rem;
}
    .publish-metadata {
      color: var(--text-secondary);
      font-size: large;
      padding-top: 0.5rem;
      margin-bottom: $margin;

      svg {
        margin-right: 0.1em;
        margin-left: 0.1em;
      }
    }
  }

  .tag {
    background-color: var(--bg_s);
    border-radius: $radius;
    padding: 0.2em 0.3em;
  }

  summary > b {
    cursor: pointer;
  }

  .toc {
    background-color: var(--bg_s);
    border: var(--fg4) 1px dashed;
    border-radius: $radius;
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;

    a {
      color: var(--fg);

      &:hover {
        text-decoration: underline;
      }
    }

    li > ul {
      margin-left: 1.5rem;
    }

    ul {
      list-style: none;
    }

    &:target {
      background-color: var(--bg_s);
    }
  }

  .warning {
    background-color: var(--red);
    color: white;
    font-size: 1.1rem;
    margin: 2rem 0;
    padding: 1rem 0;
    text-align: center;
    border-radius: $radius;
  }

  .content {
    padding-top: 1rem;
 }

 #back-to-top {
  position: static;        /* back into document flow */
  display: inline-block;

  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--bg_s);
  color: var(--fg);
  cursor: pointer;

  padding: 0.75rem 1rem;
  border-radius: $radius;

  margin: 2rem 0 1rem 0;   /* simple, safe spacing */
  white-space: nowrap;
}
  #back-to-top:hover {
      background-color: var(--bg_h);
  }
}
